#header .hi-logo a {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin-top: -5px;
    text-transform: none;
}

[data-ma-theme=indigo] {
  background-color: #3B51B2;
}

.login-content{
  background: #edecec;
}

.login-footer {
  color: grey;
  padding-left: 0px !important;
}

.lcb-navigation a{
  background: #2196f3 !important;
}

.fg-line:not([class*=has-]):after{
  background: #3B51B2;
}

.lg-header.page {
  border-bottom: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.lcb-navigation a span{
  width: 100%;
}

.lcb-navigation a[data-ma-block="#l-login"]{
  width: 85px;
}

.lcb-navigation a[data-ma-block="#l-register"]{
  width: 95px;
}

.lcb-navigation a[data-ma-block="#l-forget-password"]{
  width: 147px;
}

.login-content input{
  font-size: 14px;
}

.loader {
  min-height: 100%;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 11;
}

.preloader {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.preloader.pls-blue .plc-path{
  stroke: #2196f3;
}

.h-search-wrap{
  top:36px !important;
  bottom: 0;
  left: 0;
  right:0;
  position: absolute;
  margin: auto;
  opacity: 1;
  width: 45%;
  background: transparent;
}

.h-search-wrap .hsw-close{
  right: 15px;
  left: initial;
}

.h-search-wrap input[type=text]{
  background: #fff;
  padding: 0 10px 0 15px;
}

#sidebar{
  width: 250px;
}

@media (min-width: 1280px){
  #content:not(.content-alt) {
      padding-left: 265px;
      padding-right: 15px;
  }
  #footer {
    padding-left: 250px;
  }
}
