#header .hi-logo a {
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    font-weight: bold;
    padding: 0;
    margin-top: -10px;
    text-transform: none;
}

[data-ma-theme=indigo] {
  background-color: #3B51B2;
}

.login-content{
  background: #edecec;
}

.login-footer {
  color: grey;
  padding-left: 0px !important;
}

.lcb-navigation a{
  background: #2196f3 !important;
}

.fg-line:not([class*=has-]):after{
  background: #3B51B2;
}

.lg-header.page {
  border-bottom: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.lcb-navigation a span{
  width: 100%;
}

.lcb-navigation a[data-ma-block="#l-login"]{
  width: 85px;
}

.lcb-navigation a[data-ma-block="#l-register"]{
  width: 95px;
}

.lcb-navigation a[data-ma-block="#l-forget-password"]{
  width: 147px;
}

.login-content input{
  font-size: 14px;
}

.loader {
  min-height: 100%;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 11;
}

.preloader {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.preloader.pls-blue .plc-path{
  stroke: #2196f3;
}
