<!-- Forgot Password -->
<div class="lc-block" id="l-forget-password">
    <div class="lcb-form">
      <h3 class="lg-header page"> Forgot Password </h3>
        <p class="text-left"></p>

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Email Address">
            </div>
        </div>

        <a href="" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>
    </div>

    <div class="lcb-navigation">
        <a href="signin.html" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
        <a href="signup.html" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Sign up</span></a>
    </div>
</div>
