<div class="loader hidden" id='loader'>
  <div class="preloader pl-xl pls-blue">
     <svg class="pl-circular" viewBox="25 25 50 50">
      <circle class="plc-path" cx="50" cy="50" r="20"></circle>
    </svg>
  </div>
</div>
<header id="header" class="clearfix" data-ma-theme="blue">
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="index.html">Feedhive</a>
        </li>

        <li class="pull-right">

        </li>
    </ul>

</header>
