<header id="header" class="clearfix" data-ma-theme="blue">
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="index.html">Feedhive</a>
        </li>

        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <input type="text" placeholder="Search">
                <i class="hsw-close zmdi zmdi-arrow-right" data-ma-action="search-close"></i>
            </div>
        </div>

        <li class="pull-right">
            <ul class="hi-menu">

                <li class="dropdown">
                    <a data-toggle="dropdown" href="">
                        <i class="him-icon zmdi zmdi-notifications"></i>
                        <i class="him-counts">10</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg pull-right">
                        <div class="list-group him-notification">
                            <div class="lg-header">
                                Notification
                                <ul class="actions">
                                    <li class="dropdown">
                                        <a href="" data-ma-action="clear-notification">
                                            <i class="zmdi zmdi-check-all"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg-body">
                                <a class="list-group-item media" href="">
                                    <div class="media-body">
                                        <div class="lgi-heading">David Belle</div>
                                        <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="media-body">
                                        <div class="lgi-heading">Jonathan Morris</div>
                                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="media-body">
                                        <div class="lgi-heading">Fredric Mitchell Jr.</div>
                                        <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                    </div>
                                </a>
                            </div>
                            <a class="view-more" href="">View Previous</a>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="skin-switch hidden-xs">
                            <span class="ss-skin bgm-lightblue" data-ma-action="change-skin" data-ma-skin="lightblue"></span>
                            <span class="ss-skin bgm-bluegray" data-ma-action="change-skin" data-ma-skin="bluegray"></span>
                            <span class="ss-skin bgm-cyan" data-ma-action="change-skin" data-ma-skin="cyan"></span>
                            <span class="ss-skin bgm-teal" data-ma-action="change-skin" data-ma-skin="teal"></span>
                            <span class="ss-skin bgm-indigo" data-ma-action="change-skin" data-ma-skin="indigo"></span>
                            <span class="ss-skin bgm-blue" data-ma-action="change-skin" data-sma-kin="blue"></span>
                        </li>
                        <li class="divider hidden-xs"></li>
                        <li class="hidden-xs">
                            <a data-ma-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                        </li>
                        <li>
                            <a data-ma-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-long-arrow-tab"></i> Logout</a>
                        </li>
                    </ul>
            </ul>
        </li>
    </ul>


</header>
