<aside id="sidebar" class="sidebar c-overflow">
    <ul class="main-menu">
        <li><a href="#"><i class="zmdi zmdi-home"></i> Home</a></li>
        <li><a href="generic-classes.html"><i class="zmdi zmdi-collection-text"></i> Read</a></li>
        <li><a href="generic-classes.html"><i class="zmdi zmdi-trending-up"></i> Trending</a></li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-tag-more"></i> Tags</a>
            <ul>
                <li><a href="textual-menu.html">Textual menu</a></li>
                <li><a href="image-logo.html">Image logo</a></li>
                <li><a href="top-mainmenu.html">Mainmenu on top</a></li>
            </ul>
        </li>
        <li><a href="generic-classes.html"><i class="zmdi zmdi-layers"></i> Collections</a></li>
    </ul>
</aside>
